@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Fira+Sans:ital,wght@1,100&family=Montserrat:wght@800&family=Poppins:wght@200&display=swap');

.container{
    background-color: #fff;
    height: 120vh;
    position: relative;
    overflow: hidden;
    width: 100%;
    
}

.container nav{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 98%;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 0 5px 4px rgb(224, 219, 219);
    margin-top: 20px;
}




nav .subnavbar,ul{
    display: flex;
    align-items: center;
}
nav .subnavbar>ul{
    margin-left: 30px;
}
.subnavbar>img{
    width: 200px;
    margin-left: 100px;

}

.subnavbar ul li{
    list-style: none;
    margin-right: 40px;
    font-size:15px ;
    font-weight: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(239, 19, 55);
}

nav>button{
    width: 120px;
    padding: 13px 30px;
    background-color: #FF074C;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-right: 40px;
    border: none;
}

.main-heading{
    display: flex;
    align-items:flex-start;
    justify-content:space-evenly;
    margin-top: 40px;
}

.main-heading>img{
    width: 90px;
}

.main-heading>h1{
    font-size: 70px;
    font-weight:bolder;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    
}

.main-heading h1>span{
    color:#FF074C;
}

/* second section */
.second-section{
    display: flex;
    height: 70vh;
    position: relative;
    width: 100%;
}


.second-section .content{
    display: flex;
    flex-direction: column;
}

.second-section .content-images{
    display: flex;

}

.content-images .main-logo{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 30%;
    border: 5px solid #fff;
    border-radius: 300px;
    outline: none;
    z-index: 2;
}

.content-images .dotted-shape{
    position: absolute;
    width: 100px;
    top: 54%;
    left: 90%;
    z-index: 99;
    
}
.content-images .red-sq{
    position: absolute;
    z-index: 1;
    width: 570px;
    height: 450px;
    right: 0.2%;
    top:2%;
}
.content-images .half-circle{
    position: absolute;
    z-index: 99;
    top: 20%;
    left: 93%;
    width: 40px;
    height: 80px;
}

.content-images .social-contact{
    position: absolute;
    z-index: 99;
    align-items: start;
    top: 70%;
    left: 75%;
}

.social-contact #more-info{
    color: #fff;
    font-size: 20px;  
}
.social-icons{
    display: flex;
    align-items: center;
    height: 20px;
}
.social-contact .social-icons>img{
width:30px ;
height: 30px;
margin: 0 0 0 8px;
}

.social-icons>p{
    color: #fff;
    letter-spacing: 0.8px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 8px;
}


/* phone number container square */
.content-images .Phone-number{
position: absolute;
top: 10%;
left: 63%;
height: 100px;
border: none;
border-radius: 30px;
text-align: center;
align-items: center;
width: 215px;
z-index: 5;
background-color: #fff;
display: flex;
justify-content: center;
text-align: start;
align-items:center;
line-height: 25px;
box-shadow: 0 0 6px grey;
}
.Phone-number>p{
    font-size: 20px;
    font-weight: bold;
}

.address{
position: absolute;
height: 90px;
width: 240px;
top: 62%;
right: 46%;
border: none;
border-radius: 30px;
text-align: center;
align-items: center;
z-index: 8;
background-color: #fff;
display: flex;
justify-content: center;
text-align: start;
align-items:start;
line-height: 25px;
box-shadow: 0 0 6px grey;
}
.address>p{
    font-size: 20px;
    font-weight: bold;    
}


/* Left section  */
.second-section .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:60%;
    padding-right: 100px;
}
.content>img{
    width: 70px;
}

.content .button-container>button{
    padding: 13px 20px;
    color: white;
    background: black;
    border: none;
    outline: none;
    margin: 30px 0 0 0;

}

.content .button-container #active{
    background-color:#FF074C ;
    margin-right: 20px;
}
.content #star{
    position: absolute;
    bottom: 80%;
    left: 68%;
    width: 60px;
}
.content #leaf{
    position: absolute;
    top: 80%;
    right: 89%;
    width: 65px;
}

.content>p{
    line-height: 28px;
    font-size: 17px;
}



/* Media query */
@media(max-width:1149px){
    .main-heading>img{
        width: 70px;
    }
    .main-heading>h1{
        font-size: 45px;
    }

    /* second-section right side */
    .second-section .content-images{
        width: 40%;
    }
    .second-section .content-images .main-logo{
        width: 300  px;
        height: 300px;
    }

}

@media(max-width:922px){
    .container>nav{
        width: 90%;
    }

    .subnavbar>img{
        margin-left: 15px;
    }

}

@media(max-width:788px){
    .main-heading>img{
        width: 55px;
    }
    .main-heading>h1{
        font-size: 27px;
    }
}
@media(max-width:583px){
    .main-heading>img{
        width: 40px;
    }
    .main-heading>h1{
        font-size: 18px;
    }
}

